<head>
  <% title("Mountains") %>
</head>

<div class="nav-spacing"></div>

<p id="notice"><%= notice %></p>

<div class="f5 container six columns offset-by-three">

  <div class="search f1">
    <%= search_form_for @search_mountain do |f| %>
      <%= f.search_field :name_or_state_or_country_cont, placeholder: "Search Mountains by Name or Location"%>
      <%= f.submit "", class: "search-button"%>
    <% end %>
  </div>

  <table>
    <thead>
        <td><h4 class="f3">Peak</h4></td>
        <td><h4 class="f3">Location</h4></td>
    </thead>

    <tbody>
      <% @mountains.each do |mountain| %>
        <tr>
          <td><h5 class="f2"><%= link_to mountain.name, mountain %></h5></td>
          <td><h5 class="f2"><%= mountain.state %><%= mountain.country != "United States" ? ", #{mountain.country}" : "" %></h5></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<script>
$("#route_search input").keypress(function(event) {
    if (event.which == 13) {
        event.preventDefault();
        $("#route_search").submit([name: "commit", value: "search"]);
    }
});
</script>
