<head>
  <% title("Climbs") %>
</head>

<div class="nav-spacing"></div>

<p id="notice"><%= notice %></p>

<div class="f5 container six columns offset-by-three">

  <div class="search f1">
    <%= search_form_for @search_climb do |f| %>
      <%= f.search_field :description_cont, placeholder: "Search Climbs by Description"%>
      <%= f.submit "", class: "search-button"%>
    <% end %>
  </div>

  <section id="all-climbs">
    <% @climbs.each do |climb| %>
      <section class="one-climb">
        <div class="always-visible">
          <h4 class="f2"><%= link_to climb.mountain.name, climb.mountain %></h5>
          <h5 class="f2"><%= climb.route.name %></h5>
          <h5 class="f2"><%= climb.route.climb_class.code %></h5>
          <h5 class="f2"><%= climb.route.rock_class_text %></h5>
          <h5 class="f2"><%= climb.route.snow_angle_text %></h5>
          <h5 class="f2"><%= climb.climb_schedule.season %> <%= climb.climb_schedule.year %></h5>
          <h5 class="f2"><%= climb.climb_status %></h5>
          <h5 class="f2"><%= climb.party_size %></h5>
          <h5 class="f2"><%= climb.spots_available %></h5>
          <h5 class="f2"><%= climb.description %></h5>
          <h5 class="f2"><%= climb.last_updated %></h5>

          <% climb.educations.each do |education| %>
            <h5 class="f2"><%= education.name %></h5>
          <% end %>

          <!-- THIS IS BROKEN YO -->
          <% climb.climb_tag.each do |tag| %>
            <h5 class="f2"><%= tag.code %></h5>
          <% end %>




          <% if !climb.specific_date.nil? %>
            <h5 class="f2"><%= climb.specific_date.date_leave_town %></h5>
            <h5 class="f2"><%= climb.specific_date.date_leave_trailhead %></h5>
            <h5 class="f2"><%= climb.specific_date.date_summit %></h5>
            <h5 class="f2"><%= climb.specific_date.date_return_trailhead %></h5>
            <h5 class="f2"><%= climb.specific_date.date_return_town %></h5>
          <% elsif !climb.general_date.nil? %>
            <h5 class="f2"><%= climb.general_date.month %></h5>
            <h5 class="f2"><%= climb.general_date.year %></h5>
          <% end %>


          <table>
            <% if !climb.leader_1.nil? %>
            <tr>
              <td><h5 class="f2">LEADER</h5></td>
              <td><h5 class="f2"><%= climb.leader_1.first_name%> <%= climb.leader_1.last_name %></h5></td>
            </tr>
            <% end %>
            <% if !climb.leader_2.nil? %>
            <tr>
              <td><h5 class="f2">LEADER</h5></td>
              <td><h5 class="f2"><%= climb.leader_2.first_name%> <%= climb.leader_2.last_name %></h5></td>
            </tr>
            <% end %>
            <% if !climb.assistant_1.nil? %>
            <tr>
              <td><h5 class="f2">ASSISTANT</h5></td>
              <td><h5 class="f2"><%= climb.assistant_1.first_name%> <%= climb.assistant_1.last_name %></h5></td>
            </tr>
            <% end %>
            <% if !climb.assistant_2.nil? %>
            <tr>
              <td><h5 class="f2">ASSISTANT</h5></td>
              <td><h5 class="f2"><%= climb.assistant_2.first_name%> <%= climb.assistant_2.last_name %></h5></td>
            </tr>
            <% end %>
          </table>

        </div>

        <div class="hidden-until">
          <table>
            <td><h5 class="f2">LEADER PHILOSOPHY</h5></td>
            <td><h5 class="f2"><%= ClimbLeaderProfile.find(climb.leader_1).climb_philosophy%></h5></td>
          </table>
        </div>
      </section>
    <% end %>
  </section>

</div>




<script>
$("#route_search input").keypress(function(event) {
    if (event.which == 13) {
        event.preventDefault();
        $("#route_search").submit([name: "commit", value: "search"]);
    }
});
</script>
