<p id="notice"><%= notice %></p>

<h1>Listing General Dates</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @general_dates.each do |general_date| %>
      <tr>
        <td><%= link_to 'Show', general_date %></td>
        <td><%= link_to 'Edit', edit_general_date_path(general_date) %></td>
        <td><%= link_to 'Destroy', general_date, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New General date', new_general_date_path %>
