<head>
  <% title current_user.first_name %>
</head>

<div class="nav-spacing"></div>
<div class="general-spacing"></div>

<div class="profile six columns offset-by-three">
  <h4 id="notice" class="f3"><%= notice %></h4>

  <div class="profile-header">
    <h4 class="f3">My Account</h4>
    <%= button_to 'Edit', edit_user_path(@user), method: "get", class: "profile-button f2" %>
  </div>

  <section class= "profile-table f2">
    <div>
      <h5>NAME</h5>
      <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
    </div>
    <div>
      <h5>EMAIL</h5>
      <h5><%= current_user.email %></h5>
    </div>
    <div>
      <h5>PHONE</h5>
      <h5><%= phone_convert(current_user.phone) %></h5>
    </div>
    <div>
      <h5>ADDRESS</h5>
      <h5><%= current_user.address1 %>, <%= current_user.address2 %></h5>
    </div>
    <div>
      <h5></h5>
      <h5><%= current_user.city %>, <%= current_user.state %> <%= current_user.zip %></h5>
    </div>
    <div>
      <h5>AGE</h5>
      <h5><%= current_user.age %></h5>
    </div>
    <div>
      <h5>EMERGENCY CONTACT</h5></h5>
      <h5><%= current_user.emergency_contact %></h5>
    </div>
    <div>
      <h5>EMERGENCY PHONE</h5></h5>
      <h5><%= phone_convert(current_user.emergency_phone) %></h5>
    </div>
    <div>
      <h5>MEMBERSHIP STATUS</h5>
      <h5 class='member-status <%= current_user.membership_status %>'><%= current_user.membership_status.capitalize %></h5>
      <% if current_user.membership_status == "lapsed" %>
        <%= form_for @user, url: { action: "start_subscription" }, method: "post" do |f| %>
          <script
            src="https://checkout.stripe.com/checkout.js" class="stripe-button f2"
            data-key="pk_test_uuP4f9lToS2cmYlc6RneOwqV"
            data-amount="6000"
            data-name="The Mazamas"
            data-description="Annual Membership"
            data-locale="auto"
            data-label="Renew"
            data-image="https://www.mazamasclimbs.org/assets/mazamas-logo-square-227a770fb59bffaac46635487b9d514dfb4401839766b04dfba02f06893214f3.jpg"
            data-email=<%= current_user.email %> >
          </script>
        <% end %>
      <% elsif current_user.membership_status == "nonmember" %>
        <%= button_to 'Become a Member', edit_user_path(@user), class: "profile-button f2" %>
      <% end %>
    </div>
    <% if current_user.membership_status == "active" %>
      <div>
        <h5>MEMBERSHIP RENEWAL</h5></h5>
        <h5><%= raw(current_user.renewal_text) %></h5>
        <% if current_user.autorenew %>
          <%= button_to 'Disable Auto-Renew', end_autorenew_path, class: "profile-button f2" %>
        <% else %>
          <%= button_to 'Enable Auto-Renew', restart_autorenew_path, class: "profile-button f2" %>
        <% end %>
      </div>
    <% end %>
  </section>
  <div class="general-spacing"></div>

</div>
