<head>
  <% title("Climb Leaders") %>
</head>

<div class="nav-spacing"></div>

<p id="notice"><%= notice %></p>

<h1>Mazamas Climb Leaders</h1>

<section class="tout-container ten columns offset-by-one">
  <% @climb_leader_profiles.each do |climb_leader_profile| %>
    <div class="tout four columns">
      <div class="tout-image-container">
        <img src='<%= climb_leader_profile.photo_link %>'>
      </div>
      <h4 class="f4"><%= climb_leader_profile.user.first_name %> <%= climb_leader_profile.user.last_name %></h4>
      <p class="f1">Leader since <%= climb_leader_profile.leader_since %></p>
      <p class="f1"><%= link_to "image", climb_leader_profile.photo_link %></p>
    </div>
  <% end %>
</section>

<section class="tout-container ten columns offset-by-one">
