<p id="notice"><%= notice %></p>

<h1>Listing Climb Leader Profiles</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @climb_leader_profiles.each do |climb_leader_profile| %>
      <tr>
        <td><%= link_to 'Show', climb_leader_profile %></td>
        <td><%= link_to 'Edit', edit_climb_leader_profile_path(climb_leader_profile) %></td>
        <td><%= link_to 'Destroy', climb_leader_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Climb leader profile', new_climb_leader_profile_path %>
