<head>
  <% title("Routes") %>
</head>

<div class="nav-spacing"></div>

<h4 id="notice" class="f3"><%= notice %></h4>

<div class="f5 container six columns offset-by-three">

  <div class="search f1">
    <%= search_form_for @search_route do |f| %>
      <%= f.search_field :name_cont, placeholder: "Search Routes by Name"%>
      <%= f.submit "", class: "search-button"%>
    <% end %>
  </div>

  <table>
    <thead>
        <td><h4 class="f3">Route</h4></td>
        <td><h4 class="f3">Peak</h4></td>
    </thead>

    <tbody>
      <% @routes.each do |route| %>
        <tr>
          <td><h5 class="f2"><%= link_to route.name, route %></h5></td>
          <td><h5 class="f2"><%= link_to route.mountain.name, route.mountain %></h5></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<script>
$("#route_search input").keypress(function(event) {
    if (event.which == 13) {
        event.preventDefault();
        $("#route_search").submit([name: "commit", value: "search"]);
    }
});
</script>
