<!DOCTYPE html>
<html>
<head>
  <title>Mazamas | <%= if content_for?(:title) then yield(:title) end %></title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>
  <nav>
    <h1 class="f3"><a href="/">MAZAMAS CLIMBS</a></h1>
    <div class="navlinks f2">
      <!-- Divs closed on following line to remove break between element on page -->
      <div><h5><a href="/climbs"><i class="fa fa-calendar-o fa-1x" aria-hidden="true"></i>
Schedule</a></h5></div
      ><div><h5><a href="/mountains"><i class="fa fa-angle-up fa-2x" aria-hidden="true"></i>
</i>
Mountains</a></h5></div
      ><div><h5><a href="/routes"><i class="fa fa-map-o .fa-1x" aria-hidden="true"></i>
Routes</a></h5></div
      ><div><h5><a href="/register"><i class="fa fa-user-circle-o .fa-1x" aria-hidden="true"></i></i> Sign Up</a></h5></div
      ><div><h5><a href="/login"><i class="fa fa-user-circle .fa-1x" aria-hidden="true"></i>
Sign In</a></h5></div>
    </div>
  </nav>
<%= yield %>

</body>
</html>
